<h1> Parks </h1>
<ul>
  <% @parks.each do |park| %>
    <li>
      <%= link_to park.name, park_path(park)  %> <br>
      <%= park.city %> <br>
      <%= park.state %>
    </li>
  <% end %>
</ul>


<div id="app">
</div>
