.park-form-container {
  border-width: 3px;
  border-color: green;
  border-style: solid;
  margin: 10px;
  padding: 20px;
  padding-bottom: 0px;
  margin-right: 35%;
  background-color: #f0f0c9;
}

.park-button {
  padding: 50px;
}
