div.park-form-page {
  background-color: rgba(240, 240, 201, 0.85);
  margin: 2%;
  border-radius: 5px;
  padding: 10px;
  margin-right: 30%
}

.park-buttons button {
  margin-right: 10px;
  background-color: #8F5C38;
}

.park-buttons button:hover {
  background-color: black;
}

.park-form-page h1 {
  margin-top: 5%;
  text-align: center;
}

.park-form-page {
  background-color: #f0f0c9;
  margin: 5%;
  border-radius: 5px;
  padding: 10px;
}
