.park-buttons button {
  margin-right: 10px;
  background-color: #8F5C38;
}

.park-buttons button:hover {
  background-color: black;
}

.park-form-page h1 {
  margin-top: 5%;
  text-align: center;
}

.park-form-page {
  background-color: #f0f0c9;
  margin: 5%;
  border-radius: 5px;
}
