.review-edit-form {
  background-color: rgba(240, 240, 201, 0.85);
  margin: 2%;
  border-radius: 5px;
  padding: 10px;
  margin-right: 50%
}

.review-edit-form .button-group input {
  border-radius: 20px;
  background-color: #845131;
}

.review-edit-form .button-group button {
  border-radius: 20px;
  background-color: #845131;
}
